body
{
  //Photo by Sebas Ribas on Unsplash
  font-family: 'Merriweather', serif;
  background-color: #333399;
  color: white;
  a{
    color: white;
  }
}


nav.row{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    //margin-bottom: 2rem;
    height: 4rem;
    //background-color: #c2c2d6;

}


//needed for the placement of the content inside main.
main.container{
  margin-bottom: 4rem;
  padding: 3rem;
}

//needed for the placement of the content inside of the login, register forms
#loginform, #registerform
{
    margin: auto;
    background-color: #efeff5;
    padding: 3rem;
    h3
    {
      text-align: center;
      color: #4d004d;
    }
    a{
      color: #007bff;
    }

}


.btn-light
{
   background-color:  #e6e600;
   color: #4d004d;

}

h3
{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
