{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}


{% block nav%}
  <div class="col-1 ml-auto">
    <a href="{{url_for('logout')}}">logout</a>
  </div>


{% endblock %}

{% block main %}
    <div class="form-group">
      <div class="row">
        <label class="col-6 offset-md-2">Search for a Book</label>
      </div>
      <form action="{{ url_for('index') }}" method="post" class="row justify-content-center">

        <div class="form-group col-md-6">
          <input  class="form-control" type="text" name="field" placeholder="search by ISBN, title, or author" autocomplete="off"/>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-light">Search</button>
        </div>
      </form>
    </div>

    <div class="form-group">
      <ul>
        {%for match in matches %}
          <li>
            <a href="{{url_for('book', isbn=match.isbn)}}">{{match.title}}</a>
          </li>
        {% else %}
          <h5>{{message}}</h5>
        {% endfor %}
      </ul>
    </div>



{% endblock %}
